.admin .container {
  padding-block: 150px;
  display: grid;
  grid-template-areas: "dashboard content";
}

.dashboard {
  grid-area: dashboard;
  padding-block: 25px;
  border-radius: 15px;
  max-width: 350px;
  box-shadow: 0 0 5px #00000038;
  button {
    width: 100%;
    padding: 20px;
    font-size: 24px;
    border-radius: 0;
    color: var(--text-color-secondary);
  }
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  button {
    padding-block: 20px;
    font-size: 24px;
    color: var(--text-color-secondary);
  }
}

.admin-card {
  font-size: 24px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 50px 20px;
  box-shadow: 0 0 5px #00000036;
  border-radius: 5px;
  img {
    max-height: 200px;
  }
}
