.banner {
  height: 100dvh;
  background: url("../../assets/banner-light.png") center no-repeat;
  background-size: cover;
  position: relative;
}

.next {
  position: absolute;
  bottom: 20px;
  left: 50%;
  animation: shake 2s infinite;
}

.info {
  color: #fff;
  font-weight: 600;
  padding: 180px 20px 110px;
}

.title {
  font-size: 78px;
  margin-bottom: 55px;
  max-width: 1085px;
}

.actions {
  padding-left: 3px;
  font-size: 36px;
  margin-bottom: 66px;
}

.item {
  margin-bottom: 36px;
}

.btn {
  font-size: 36px;
  color: var(--text-color-secondary);
  padding: 15px;
}

@keyframes shake {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}
